@import "../../../sass/styles.scss";
#inspection-single-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  min-width: 100%;
  padding: $large-spacing;
  min-width: 100% !important;

  .button-container {
    margin-bottom: $medium-spacing;
    display: flex;
    justify-content: center;
  }
}
